%ul#lg-menu.nav.hidden-xs
  %li
    = link_to(workers_path) do
      %i.fa.fa-list
      All
  - (RocketJob::Worker.aasm.states.map { |s| s.name.to_s } + ['zombie']).each do |state|
    %li{class: state}
      = link_to("#{state}_workers".to_sym) do
        %i.fa{class: state_icon(state)}
        = state.to_s.capitalize!
        %span.badge.badge-zombies #{worker_counts_by_state(state)}
/ tiny only nav
%ul#xs-menu.nav.visible-xs
  %li
    = link_to(workers_path) do
      %i.fa.fa-list
  - RocketJob::Worker.aasm.states.map { |s| s.name.to_s }.each do |state|
    %li{class: state}
      = link_to("#{state}_workers".to_sym) do
        %i.fa{class: state_icon(state)}
