%ul#lg-menu.nav.hidden-xs
  %li
    = link_to(servers_path) do
      %i.fa.fa-list
      All
  - RocketJob::Server.aasm.states.map { |s| s.name.to_s }.each do |state|
    %li{class: state}
      = link_to("#{state}_servers".to_sym) do
        %i.fa{class: state_icon(state)}
        = state.to_s.capitalize!
        = "(#{server_counts_by_state(state)})"
/ tiny only nav
%ul#xs-menu.nav.visible-xs
  %li
    = link_to(servers_path) do
      %i.fa.fa-list
  - RocketJob::Server.aasm.states.map { |s| s.name.to_s }.each do |state|
    %li{class: state}
      = link_to("#{state}_servers".to_sym) do
        %i.fa{class: state_icon(state)}
