!!!
%html
  %head
    %title= title

    %link{rel: "icon", type: "image/png", href: "/assets/favicon.png"}
    %link{rel: "apple-touch-icon-precomposed", href: "/assets/apple-touch-icon.png"}

    %meta{'http-equiv' => "Content-Type", content: "text/html; charset=UTF-8"}
    %meta{'http-equiv' => "Content-Script-Type", content: "text/javascript"}
    %meta{'http-equiv' =>"X-UA-Compatible", content: "IE=edge" }
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = yield :meta

    = csrf_meta_tag

    = stylesheet_link_tag "application", 'data-turbolinks-track' => 'data-turbolinks-track'
    = stylesheet_link_tag    "rocket_job_mission_control/application", :media => "all"
    = javascript_include_tag "rocket_job_mission_control/application"
    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel: "stylesheet"}/
    = yield :stylesheets

    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    = javascript_include_tag 'application', 'data-turbolinks-track' => 'data-turbolinks-track'
    = yield :javascript

  %body.rocket_job
    #wrapper.toggled
      = render partial: 'layouts/rocket_job_mission_control/partials/sidebar'

      #page-content-wrapper
        = render partial: 'layouts/rocket_job_mission_control/partials/header'

        = yield
