!!!
%html
  %head
    %title= title

    %link{rel: "icon", type: "image/png", href: "/assets/favicon.png"}
    %link{rel: "apple-touch-icon-precomposed", href: "/assets/apple-touch-icon.png"}

    %meta{'http-equiv' => "Content-Type", content: "text/html; charset=UTF-8"}
    %meta{'http-equiv' => "Content-Script-Type", content: "text/javascript"}
    %meta{'http-equiv' =>"X-UA-Compatible", content: "IE=edge" }
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = yield :meta


    = stylesheet_link_tag "rocket_job_mission_control/application", :media => "all"
    = javascript_include_tag "rocket_job_mission_control/application"

    = csrf_meta_tag

    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel: "stylesheet"}/

  %body.rocket_job
    #wrapper

      #page-content-wrapper
        = render partial: 'layouts/rocket_job_mission_control/partials/header'

      .container-fluid
        .flash.text-center
          - flash.each do |key, msg|
            - if msg
              .alert{class: "alert-#{key} alert-dismissable", role: 'alert'}
                %button.close{ data: { dismiss: 'alert' } }
                  %span &times;
                -if msg.kind_of? Array
                  %ul.list-unstyled.margin-bottom-0
                    - msg.each do |m|
                      %li= m.html_safe
                - else
                  = msg.html_safe

        = yield

    %footer.footer
