<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('rocket_job_mission_control/favicon-16x16.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('rocket_job_mission_control/favicon-32x32.png') %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('rocket_job_mission_control/apple-touch-icon.png') %>">
    <link rel="mask-icon" href="<%= image_path('rocket_job_mission_control/safari-pinned-tab.svg') %>" color="#5bbad5">

    <meta content="#da532c" name="msapplication-TileColor">
    <meta content="#ffffff" name="theme-color">
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta content='text/javascript' http-equiv='Content-Script-Type'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>

    <%= yield :meta %>

    <%= stylesheet_link_tag "rocket_job_mission_control/application", media: 'all', "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "rocket_job_mission_control/application", "data-turbolinks-track": "reload" %>

    <%= csrf_meta_tag %>
  </head>

  <body class='rocket_job'>
    <div id='wrapper'>
      <div class='container-fluid'>
        <div class='row row-offcanvas row-offcanvas-left'>
          <%= render partial: 'layouts/rocket_job_mission_control/partials/sidebar' %>

          <div class='col-sm-10 col-xs-11 white-background' id='main'>
            <%= render partial: 'layouts/rocket_job_mission_control/partials/header' %>

            <div id='content'>
              <%= render partial: 'layouts/rocket_job_mission_control/partials/flash' %>

              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
