<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('rocket_job_mission_control/favicon-16x16.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('rocket_job_mission_control/favicon-32x32.png') %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('rocket_job_mission_control/apple-touch-icon.png') %>">
    <link rel="mask-icon" href="<%= image_path('rocket_job_mission_control/safari-pinned-tab.svg') %>" color="#5bbad5">

    <meta content="#da532c" name="msapplication-TileColor">
    <meta content="#ffffff" name="theme-color">
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta content='text/javascript' http-equiv='Content-Script-Type'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>

    <%= yield :meta %>

    <%= stylesheet_link_tag "rocket_job_mission_control/bootstrap.min",
                            "rocket_job_mission_control/fontawesome-all.min",
                            "rocket_job_mission_control/tom-select.default.min",
                            "rocket_job_mission_control/datatables.min",
                            "rocket_job_mission_control/base",
                            "rocket_job_mission_control/syntax_highlighting",
                            "rocket_job_mission_control/json_tree",
                            "rocket_job_mission_control/callout",
                            "rocket_job_mission_control/jobs",
                            "rocket_job_mission_control/worker_processes",
                            media: "all" %>
    <%= javascript_include_tag "rocket_job_mission_control/jquery-3.7.1.min",
                               "rails-ujs",
                               "rocket_job_mission_control/datatables.min",
                               "rocket_job_mission_control/datatable_init",
                               "rocket_job_mission_control/bootstrap.bundle.min",
                               "rocket_job_mission_control/dirmon_entries",
                               "rocket_job_mission_control/tom-select.complete.min",
                               "rocket_job_mission_control/tom_select_init",
                               "rocket_job_mission_control/jquery.json-viewer",
                               "rocket_job_mission_control/json_tree_init",
                               "rocket_job_mission_control/backtrace" %>

    <%= csrf_meta_tag %>
  </head>

  <body class='rocket_job'>
    <div id='wrapper'>
      <div class='container-fluid'>
        <%= render partial: 'layouts/rocket_job_mission_control/partials/sidebar' %>

        <div class='white-background' id='main'>
          <%= render partial: 'layouts/rocket_job_mission_control/partials/header' %>

          <div id='content'>
            <%= render partial: 'layouts/rocket_job_mission_control/partials/flash' %>

            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
