<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Dates</h4>
  </div>

  <div class="panel-body">
    <pre><code class="language-json5">
created: "<%= job_time(@job.created_at) %>"
    </code></pre>

    <% if !@job.queued? %>
      <pre><code class="language-json5">
<%= job_state_name(@job) %>: "<%= job_state_time(@job) %>"
      </code></pre>

      <% unless @job.scheduled? %>
        <pre><code class="language-json5">
time_ago: "<%= RocketJob.seconds_as_duration(Time.now - (@job.completed_at || @job.started_at || @job.created_at)) %> ago"
        </code></pre>
      <% end %>
    <% end %>

    <% if @job.scheduled? %>
      <pre><code class="language-json5">
Run At: "<%= job_time(@job.run_at) %>"
Runs In: "<%= RocketJob.seconds_as_duration(@job.run_at - Time.now) %>"
    <% end %>

    <% if @job.expires_at %>
      <pre><code class="language-json5">
Expires At: "<%= job_time(@job.expires_at) %>"
      </code></pre>
    <% end %>
  </div>
</div>
