<div class='lead'>Dates:</div>
<div class='row'>
  <div class='col-md-12'>
    <table>
      <tr>
        <td><label>Created:</label></td>
        <td><%= job_time(@job.created_at) %></td>
      </tr>
      <% if !@job.queued? %>
        <tr>
          <td><label><%= job_state_name(@job) %>:</label></td>
          <td><%= job_state_time(@job) %></td>
        </tr>
      <% end %>
      <% if @job.scheduled? %>
        <tr>
          <td><label>Run At:</label></td>
          <td><%= job_time(@job.run_at) %></td>
        </tr>
        <tr>
          <td><label>Runs In:</label></td>
          <td><%= RocketJob.seconds_as_duration(@job.run_at - Time.now) %></td>
        </tr>
      <% else %>
        <tr>
          <td><label><%= job_state_name(@job) %> For:</label></td>
          <td><%= RocketJob.seconds_as_duration(Time.now - (@job.completed_at || @job.started_at || @job.created_at)) %></td>
        </tr>
      <% end %>
      <% if @job.expires_at %>
        <tr>
          <td><label>Expires At:</label></td>
          <td><%= job_time(@job.expires_at) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<br/>
