<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Details</h4>
  </div>

  <div class="panel-body">
    <pre><code class="language-json5">
state: "<%= job_state(@job) %>",
batch: "<%= @job.try(:sub_state) %>",
description: "<%= @job.try(:description) %>",
cron_schedule: "<%= @job.try(:cron_schedule) %>",
upload_file_name: "<%= @job.try(:upload_file_name) %>",
priority: "<%= @job.try(:priority) %>",
failure_count: "<%= @job.try(:failure_count) %>",
log_level: <%= @job.try(:log_level) %>",
throttle_group: <%= @job.try(:throttle_group) %>",
throttle_running_workers: <%= @job.try(:throttle_running_workers) %>",
worker_name: "<%= @job.try(:worker_name) %>",
destroy_on_completion: "<%= @job.try(:destroy_on_complete) %>",
id: "<%= @job.try(:id) %>"
    </code></pre>
  </div>
</div>
