<div class='section-header'>Input Categories</div>
<% @job.input_categories.each do |category| %>
  <div class='row'>
    <div class='col-md-12'>
      <div class='subsection-header'><%= category.name.to_s.camelcase %></div>
      <div class='row'>
        <div class='col-md-12'>
          <table>
            <% if category.serializer %>
              <tr>
                <td><label>Serializer:</label></td>
                <td><%= category.serializer %></td>
              </tr>
            <% end %>
            <% if category.file_name %>
              <tr>
                <td><label>File Name:</label></td>
                <td><%= category.file_name %></td>
              </tr>
            <% end %>
            </tr>
            <% if category.format %>
              <tr>
                <td><label>Format:</label></td>
                <td><%= category.format %></td>
              </tr>
              <tr>
                <td><label>Header Cleanser:</label></td>
                <td><%= category.header_cleanser %></td>
              </tr>
              <% if category.skip_unknown %>
                <tr>
                  <td><label>Skip Unknown Columns:</label></td>
                  <td><%= category.skip_unknown %></td>
                </tr>
              <% end %>
              <% if category.allowed_columns %>
                <tr>
                  <td><label>Allowed Columns:</label></td>
                  <td><%= render_json_tree(category.allowed_columns) %></td>
                </tr>
              <% end %>
              <% if category.required_columns %>
                <tr>
                  <td><label>Required Columns:</label></td>
                  <td><%= render_json_tree(category.required_columns) %></td>
                </tr>
              <% end %>
              <% if category.mode != :line %>
                <tr>
                  <td><label>Mode:</label></td>
                  <td><%= category.mode %></td>
                </tr>
              <% end %>
              <% if category.format_options %>
                <tr>
                  <td><label>Format Options:</label></td>
                  <td>
                    <%= render_json_tree(category.format_options) %>
                  </td>
                </tr>
              <% end %>
            <% end %>
            <% if category.columns %>
              <tr>
                <td><label>Columns:</label></td>
                <td><%= render_json_tree(category.columns) %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
