.col-md-4.job-list
  .filter.btn-group.btn-group-justified{ style: 'padding: 1px 1px 1px 1px;', data: { toggle: 'buttons' } }
    - job_states.each do |state|
      - enabled = @states.include?(state.to_s) || @states.empty?
      - title   = enabled ? 'Hide' : 'Show'
      %label.btn.btn-default.state-toggle{ class: ('active' if enabled), title: "#{title} #{state.capitalize}" }
        = check_box_tag(state, state, enabled)
        %i.fa{class: job_state_icon(state)}
  .clearfix
  .list
    - if jobs.empty?
      .card.inner
        .title
          .lead.text-center No Jobs Found.
    - else
      - jobs.each do |job|
        = link_to(job_path(id: job.id, states: @states), class: "card callout callout-#{job.state} #{job_selected_class(job, @job)}") do
          .inner
            .title
              .lead
                %i.fa{class: job_icon(job), style: 'font-size: 75%;', title: job.state}
                = job_title(job)

            .description= job.description.try(:truncate, 50)
            .info
              .duration.pull-left
                %i.fa.fa-clock-o
                = job.duration
              - if job.running?
                .progress.pull-right
                  .progress-bar{ style: "width: #{job.percent_complete}%;", title: "#{job.percent_complete}% percent complete."}
