- status = job.status(Time.zone)
.id
  %label ID:
  = status.delete('id')
.status-message
  %label Description:
  = status.delete('description')
.status-message
  %label Duration:
  = status.delete('duration')
.status-message
  %label Record Count:
  = status.delete('record_count')
.created_at
  %label Created At:
  = status.delete('created_at')
.status-message
  %label Started At:
  = status.delete('started_at')
.status-message
  %label % Complete:
  = status.delete('percent_complete')

- remaining = {}
- status.each_pair do |key, value|
  .status-message
  - if ['state', '_type'].include?(key)
  - elsif value.kind_of?(Hash) || value.kind_of?(Array)
    - remaining[key] = value
  - else
    %label= "#{key.to_s.titleize}:"
    = value
.clearfix

- remaining.each_pair do |key, value|
  .status-message
    %label= "#{key.to_s.titleize}:"
    %pre
      %code= pretty_print_array_or_hash(value)
