.col-md-6.job-status
  #job
    %h3= "#{@job.klass}##{@job.perform_method}"

    - if [:queued, :running, :failed].include?(@job.state)
      .job-retry
        = link_to "abort job", abort_job_path(@job), method: :patch, class: 'btn btn-sm btn-warning'

    - if @job.state == :failed
      .job-retry
        = link_to "retry job", retry_job_path(@job), method: :patch, class: 'btn btn-sm btn-primary'

    .job-state.inline-block
      .left state
      .right{ class: job_class(@job) }
        = @job.state

    .priority
      = form_for(@job, as: :job, url: job_path(@job), html: {method: :patch}) do |f|

        .input-group.spinner{ "data-id" => @job.id }
          = f.text_field(:priority, class: 'form-control')

          .input-group-btn-vertical
            %button.btn.btn-default.up{ type: 'button' }
              %i.fa.fa-caret-up

            %button.btn.btn-default.down{ type: 'button' }
              %i.fa.fa-caret-down

          = submit_tag "set", class: "btn btn-sm btn-primary priority-set"

    .clearfix

    .id
      %label ID:
      = @job.id
    .created_at
      %label Created At:
      = @job.created_at.in_time_zone('EST')

    - @job.status.each_pair do |key, value|
      .status-message
        %label= "#{key.to_s.titleize}:"
        = value
    .clearfix

    .parameters
      %label Parameters:
      %pre
        %code= pretty_print_arguments(@job.arguments)
