.id
  %label ID:
  = job.id
.created_at
  %label Created At:
  = job.created_at.in_time_zone('EST')

- job.status.each do |key, value|
  .status-message
    %label= "#{key.to_s.titleize}:"
    - if key == :exception
      %pre
        %code= pretty_print_array_or_hash(value)
    - else
      = value
.clearfix

.parameters
  %label Parameters:
  %pre
    %code= pretty_print_array_or_hash(job.arguments)
