- status = job.status(Time.zone)
.id
  %label ID:
  = status.delete('_id')
- if description = status.delete('description')
  .status-message
    %label Description:
    = description
- if duration = status.delete('duration')
  .status-message
    %label Duration:
    = duration
- if record_count = status.delete('record_count')
  .status-message
    %label Record Count:
    = record_count
.created_at
  %label Created At:
  = status.delete('created_at')
- if started_at = status.delete('started_at')
  .status-message
    %label Started At:
    = started_at
- if percent_complete = status.delete('percent_complete')
  .status-message
    %label % Complete:
    = percent_complete

- remaining = {}
- status.each_pair do |key, value|
  - next if value.blank?
  .status-message
  - if ['state', '_type', 'sub_state'].include?(key)
  - elsif value.kind_of?(Hash) || value.kind_of?(Array)
    - remaining[key] = value
  - else
    %label= "#{key.to_s.titleize}:"
    = value
.clearfix

- remaining.each_pair do |key, value|
  .status-message
    %label= "#{key.to_s.titleize}:"
    %pre
      %code= pretty_print_array_or_hash(value)
