<div class='edit_input'>
  <div class='col-md-9'>
    <div class='job-status'>
      <div class='failures'>
        <div class='lead'><%= link_to(@job.class, job_path(@job)) %>: <%= @failure_exception.class_name %></div>

        <div class='pagination-buttons pull-right'>
          <%= render partial: 'edit_input_pagination', locals: {error_type: @failure_exception.class_name, pagination: @edit_input_pagination} %>
        </div>

        <div class='clearfix'></div>
        <% valid_events = @job.aasm.events.collect { |e| e.name } %>

        <div class='message'>
          <pre><code><%= @failure_exception.message %></code></pre>
        </div>

        <%= form_for(:job, url: update_input_job_path(@job, offset: @offset, error_type: @failure_exception.class_name)) do |f| %>

          <% @lines.each do |line| %>
            <div class='input_slices'>
              <%= f.text_area :records, :multiple => true, :value => line, class: 'input_slices' %>
            </div>
          <% end %>

          <div class='buttons'>
            <%= f.submit 'Save', class: 'btn btn-primary' %>
            <% if valid_events.include?(:retry) && can?(:retry, @job) %>
              <%= link_to "Retry", rocket_job_mission_control.retry_job_path(@job), class: 'btn btn-warning', method: :patch %>
            <% end %>
            <%= link_to 'Cancel', :back, class: 'btn btn-default' %>
          </div>
          </div>
        <% end %>


        </div>
  </div>
</div>
