<div class='col-md-9'>
  <% valid_events = @job.aasm.events.collect { |e| e.name } %>
  <br>
  <br>
  <%= form_for(:job, url: update_slice_job_path(@job, offset: @offset, error_type: @failure_exception.class_name)) do |f| %>
    <% @lines.each_with_index do |line, index| %>
      <% if @line_index == index %>
        <%= f.text_area :records, :value => line, class: 'input_slices', id: index, multiple: true %>
      <% else %>
        <%= f.hidden_field :records, :value => line, class: 'input_slices', id: index, multiple: true %>
      <% end %>
    <% end %>

    <div id='submit'>
      <%= f.submit 'Save', class: 'btn btn-primary' %>
      <%= link_to 'cancel', view_slice_job_path(@job, error_type: @failure_exception.class_name, record_number: @job.input.failed.first["exception"]["record_number"]), class: 'btn btn-default' %>
  <% end %>
  </div>
</div>


