<div class="row">
  <div class="col-md-8">
    <div class="job-status">
      <div class="failures">
        <div class="lead"><%= link_to(@job.class.name, job_path(@job)) %>: <%= @failure_exception.class_name %></div>
        <div class="pagination-buttons pull-right">
          <%= render partial: 'pagination', locals: {error_type: @failure_exception.class_name, pagination: @pagination} %>
        </div>
        <div class="clearfix"></div>
        <div class="message">
          <pre><code><%= @failure_exception.message %></code></pre>
        </div>
        <div class="error">
          <pre class="small"><%= @failure_exception.backtrace.join("\n") %></pre>
        </div>
      </div>
    </div>
  </div>
</div>
