<div class='row'>
  <div class='col-md-8'>
    <div class="panel panel-default">
      <div class="panel-heading page-title-bar">
        <div class='row'>
          <div class='col-sm-8'>
            <h2 class='page-title'><%= link_to(@job.class.name, job_path(@job)) %>: <%= @failure_exception.class_name %></h2>
          </div>

          <div class='col-sm-4'>
            <div class='pagination-buttons pull-right'>
              <%= render partial: 'pagination', locals: {error_type: @failure_exception.class_name, pagination: @pagination} %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='job-status'>
      <div class='failures'>
        <div class='message'>
          <pre><code class="language-html"><%= @failure_exception.message %></code></pre>
        </div>

        <div class='error'>
          <pre class='small'><%= @failure_exception.backtrace.join("\n") %></pre>
        </div>
      </div>
    </div>
  </div>
</div>
