.job-list
  .list
    .row
      .col-sm-10
        %h2 Exceptions
        = link_to(@job.class.name, job_path(@job))
        = h(@job.description)
      .col-sm-2
        .btn.btn-default.pull-right.dt-reload{ data: { behavior: 'reload' } }
          %i.fa.fa-refresh
    %table.table.datatable.jobs-datatable{ style: 'width: 100%', data: { source: "#{jobs_url(format: 'json')}" } }
      %thead
        %tr
          %th Count
          %th Exception Class
          %th Exception Messages
      %tbody
        - class_name = nil
        - @exceptions.each do |exception|
          - exception.messages.each do |message|
            %tr
              %th
                = exception.count if exception.class_name != class_name
              %th
                - if exception.class_name != class_name
                  = link_to(exception.class_name, job_failures_path(@job, error_type: exception.class_name), class: "card callout")
              %th
                = message
          - class_name = exception.class_name
