#queue
  = render partial: 'list', locals: { jobs: @jobs }

.col-md-8.job-status
  #job
    .lead= job_title(@job)

    .job-state.inline-block
      .left state
      .right{ class: @job.state.to_s }
        = @job.state

    .priority.pull-right
      = form_for(@job, as: :job, url: job_path(@job), html: {method: :patch}) do |f|

        .input-group.spinner{ "data-id" => @job.id }
          = f.text_field(:priority, class: 'form-control')

          .input-group-btn-vertical
            %button#increase_priority.btn.btn-default.up{ type: 'button' }
              %i.fa.fa-caret-up

            %button#decrease_priority.btn.btn-default.down{ type: 'button' }
              %i.fa.fa-caret-down

          = submit_tag "set", class: "btn btn-sm btn-primary priority-set"

    .job-retry.btn-group.pull-right{ style: 'margin-right: 1em;' }
      - valid_events = @job.aasm.events.collect{ |e| e.name }
      - if valid_events.include?(:abort)
        = link_to "abort", abort_job_path(@job), method: :patch, class: 'btn btn-default'

      - if @job.completed? || @job.aborted?
        = link_to "destroy", job_path(@job), method: :delete, class: 'btn btn-default'

      - if valid_events.include?(:fail)
        = link_to "fail", fail_job_path(@job), method: :patch, class: 'btn btn-default'

      - if valid_events.include?(:pause)
        = link_to "pause", pause_job_path(@job), method: :patch, class: 'btn btn-default'

      - if valid_events.include?(:resume)
        = link_to "resume", resume_job_path(@job), method: :patch, class: 'btn btn-default'

      - if valid_events.include?(:retry)
        = link_to "retry", retry_job_path(@job), method: :patch, class: 'btn btn-default'

    .clearfix

    = render partial: 'status', locals: { job: @job }
