<div class="card">
  <div class="card-header page-title-bar">
    <h2 class='page-title'><%= @job.class.name %></h2>
  </div>
</div>

<div id='job'>
  <div class='btn-toolbar job-actions'>
    <% if @job.scheduled? && can?(:run_now, @job) %>
      <div class='btn-group'>
        <%= job_action_links_for_show('Run', rocket_job_mission_control.run_now_job_path(@job), :patch) %>
      </div>
    <% end %>

    <% if @job.respond_to?(:input_category) && @job.running? && can?(:read, RocketJob::Worker) %>
      <div class='btn-group'>
        <%= link_to 'Show Workers', active_workers_path(job_id: @job.id), class: 'btn btn-secondary' %>
      </div>
    <% end %>

    <div class='left-margin'>
      <% valid_events = @job.aasm.events.collect { |e| e.name } %>
      <% if valid_events.include?(:pause) && @job.pausable? && can?(:pause, @job) %>
        <%= job_action_links_for_show('Pause', rocket_job_mission_control.pause_job_path(@job), :patch) %>
      <% end %>
      <% if valid_events.include?(:resume) && can?(:resume, @job) %>
        <%= job_action_links_for_show('Resume', rocket_job_mission_control.resume_job_path(@job), :patch) %>
      <% end %>
      <% if valid_events.include?(:retry) && can?(:retry, @job) %>
        <%= job_action_links_for_show('Retry', rocket_job_mission_control.retry_job_path(@job), :patch) %>
      <% end %>
      <% if valid_events.include?(:fail) && can?(:fail, @job) %>
        <%= job_action_links_for_show('Fail', rocket_job_mission_control.fail_job_path(@job), :patch) %>
      <% end %>
      <% if valid_events.include?(:abort) && can?(:abort, @job) %>
        <%= job_action_links_for_show('Abort', rocket_job_mission_control.abort_job_path(@job), :patch) %>
      <% end %>
      <% if can?(:destroy, @job) %>
        <%= job_action_links_for_show('Destroy', rocket_job_mission_control.job_path(@job), :delete) %>
      <% end %>
      <% unless @job.completed? || @job.aborted? %>
        <div class='btn-group'>
          <% if can?(:edit, @job) %>
            <%= link_to 'Edit', edit_job_path(@job), class: 'btn btn-primary' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render partial: 'status', locals: {job: @job} %>
