<div class='edit_input'>
  <div class='col-md-9'>
    <div class='job-status'>
      <div class='failures'>
        <div class='lead'><%= link_to(@job.class, job_path(@job)) %>: <%= @failure_exception.class_name %></div>

        <div class='pagination-buttons pull-right'>
          <%= render partial: 'view_slice_pagination', locals: {error_type: @failure_exception.class_name, pagination: @view_slice_pagination} %>
        </div>

        <div class='clearfix'></div>

        <div class='message'>
          <pre><code><%= @failure_exception.message %></code></pre>
        </div>

      </div>
    </div>

    <% @lines.each_with_index do |line, index| %>
      <div class='message' tabindex="<%= index + 1 %>" id="<%= index + 1 %>">
        <pre><span>Line: <%= index + 1 %></span><br><br><code><%= line %></code><br><br><% if can?(:edit_slice, @job)%><div class='edit_button'><%= link_to "Edit", edit_slice_job_path(@job, offset: @offset, error_type: @failure_exception.class_name, line_index: index), class: 'btn btn-primary' %></div><% end %>
        </pre>
      </div>
    <% end %>
  </div>
</div>

<script>
    $(document).ready(function () {
        document.getElementById(<%= @view_slice_pagination[:record_number] %>).focus();
    });
</script>
