<div class='row'>
  <div class='col-md-8'>
    <div class='job-status'>
      <div class='failures'>
        <div class='lead'><%= link_to(@job.class, job_path(@job)) %>: <%= @failure_exception.class_name %></div>

        <div class='pagination-buttons pull-right'>
          <%= render partial: 'edit_input_pagination', locals: {error_type: @failure_exception.class_name, pagination: @edit_input_pagination} %>
        </div>

        <div class='clearfix'></div>

        <div class='message'>
          <pre><code><%= @failure_exception.message %></code></pre>
        </div>

        <div class='error'>
          <% @lines.each do |line| %>
            <pre class='small'><%= line %></pre>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
