<div class='row'>
  <div class='col-md-12'>
    <div class="card">
      <div class="card-header page-title-bar">
        <div class='row'>
          <div class='col-sm-8'>
            <h2 class='page-title'>
              <%= link_to(@job.class.name, job_path(@job)) %> Exception
            </h2>
          </div>

          <div class='col-sm-4'>
            <div class='pagination-buttons pull-right'>
              <%= render partial: 'view_slice_pagination', locals: {error_type: @failure_exception.class_name, pagination: @view_slice_pagination} %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='job-status'>
      <%= render partial: 'exception_details', locals: {exception: @failure_exception, record_number: @failure_record_number} %>

      <div class='section-header'>Records</div>

      <div class='row'>
        <div class='col-md-12'>
          <table class='table records'>
            <thead>
              <tr>
                <th class='records-line-number'>Record</th>
                <th>Content</th>
                <% if can?(:edit_slice, @job) %><th class='records-action'></th><% end %>
              </tr>
            </thead>
            <tbody>
              <% @lines.each_with_index do |line, index| %>
                <% failed = (index + 1 == @view_slice_pagination[:record_number]) %>
                <tr id="<%= index + 1 %>" tabindex="<%= index + 1 %>" class='<%= "records-failed" if failed %>'>
                  <td class='records-line-number'><%= @first_record_number + index %></td>
                  <td><code><%= highlight_record(line) %></code></td>
                  <% if can?(:edit_slice, @job) %>
                    <td class='records-action'>
                      <%= link_to "Edit", edit_slice_job_path(@job, offset: @offset, error_type: @failure_exception.class_name, line_index: index), class: 'btn btn-primary btn-sm' %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    document.getElementById(<%= @view_slice_pagination[:record_number] %>).focus();
  });
</script>
