<nav class='navbar navbar-default' id='header'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <button aria-expanded='false' class='navbar-toggle collapsed' data-target='.navbar-collapse' data-toggle='collapse' type='button'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>

      <a class='navbar-brand brand' href='http://rocketjob.io' target='_blank'>
        <%= image_tag('rocket_job_mission_control/rocket-icon-64x64.png') %>
        Rocket Job
      </a>
    </div>

    <div class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <li>
          <%= link_to running_jobs_path, class: active_page(running_jobs_path) do %>
            <i class='fas fa-home'></i> Jobs
          <% end %>
        </li>

        <li>
          <%= link_to servers_path, class: active_page(servers_path) do %>
            <i class='fas fa-database'></i> Servers
          <% end %>
        </li>

        <li>
          <%= link_to active_workers_path, class: active_page(active_workers_path) do %>
            <i class='fas fa-circle-notch'></i> Workers
          <% end %>
        </li>

        <li>
          <%= link_to enabled_dirmon_entries_path, class: active_page(enabled_dirmon_entries_path) do %>
            <i class='fas fa-folder'></i> Directory Monitoring
          <% end %>
        </li>
      </ul>

      <ul class='nav navbar-nav navbar-right'>
        <li><a href='/'><i class='fas fa-home'></i> Home</a></li>
      </ul>
    </div>
  </div>
</nav>
