%nav.navbar.navbar-default#header
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ "aria-expanded" => "false", "data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button" }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.brand{ href: 'http://rocketjob.io', target: '_blank'}
        = image_tag('rocket_job_mission_control/rocket-icon-64x64.png', size: '32x32')
        Rocket
        %span Job
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          = link_to jobs_path, class: active_page(jobs_path) do
            %i.fa.fa-home
            Jobs
        %li
          = link_to workers_path, class: active_page(workers_path) do
            %i.fa.fa-database
            Workers
        %li
          = link_to active_processes_path, class: active_page(active_processes_path) do
            %i.fa.fa-circle-o-notch
            Activity
        %li
          = link_to dirmon_entries_path, class: active_page(dirmon_entries_path) do
            %i.fa.fa-folder-o
            Directory Monitors
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => main_app.root_path } Home
