%nav.navbar.navbar-default#header
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ "aria-expanded" => "false", "data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button" }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.brand{ href: 'http://rocketjob.io', target: '_blank'}
        = image_tag('rocket_job_mission_control/rocket-icon-64x64.png')
        Rocket Job
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          = link_to running_jobs_path, class: active_page(running_jobs_path) do
            %i.fa.fa-home
            Jobs
        %li
          = link_to servers_path, class: active_page(servers_path) do
            %i.fa.fa-database
            Servers
        %li
          = link_to active_workers_path, class: active_page(active_workers_path) do
            %i.fa.fa-circle-o-notch
            Workers
        %li
          = link_to enabled_dirmon_entries_path, class: active_page(enabled_dirmon_entries_path) do
            %i.fa.fa-folder-o
            Directory Monitors
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => '/' } Home
