- if @dirmon_entry.job_class
  .arguments
    .job_arguments.form-group
    = f.fields_for :properties do |properties|
      - @dirmon_entry.job_class.user_editable_fields.each do |property_name|
        - key = @dirmon_entry.job_class.fields[property_name.to_s]
        - next unless key && key.type
        - placeholder = key.default? ? key.default : nil
        .form-group
          = properties.label property_name.to_s
          - case key.type.name
          - when 'Integer'
            = properties.number_field property_name, value: @dirmon_entry.properties[property_name], class: 'form-control', placeholder: placeholder
          - when 'Hash'
            - value = @dirmon_entry.properties[property_name]
            = properties.text_field property_name, value: value ? value.to_json : '', class: 'form-control', placeholder: '{"key1":"value1", "key2":"value2", "key3":"value3"}'
          - when 'Array'
            - options = Array(@dirmon_entry.properties[property_name])
            = properties.select property_name, options_for_select(options, options), {include_hidden: false}, {class: 'selectize', multiple: true}
          - when 'Boolean'
            - name = "#{property_name}_true".to_sym
            .radio-buttons
              = properties.label name, 'true'
              = properties.radio_button(property_name, 'true', checked: @dirmon_entry.properties[property_name] == 'true')
              = properties.label name, 'false'
              = properties.radio_button(property_name, 'false', checked: @dirmon_entry.properties[property_name] == 'false')
              = properties.label name, 'none'
              = properties.radio_button(property_name, '', checked: @dirmon_entry.properties[property_name].blank?)
          - else
            = properties.text_field property_name, value: @dirmon_entry.properties[property_name], class: 'form-control', placeholder: placeholder
