%ul#lg-menu.nav.hidden-xs
  %li
    = link_to(new_dirmon_entry_path) do
      %i.fa.fa-plus
      New Entry
  %li
    = link_to(dirmon_entries_path) do
      %i.fa.fa-list
      All
  - RocketJob::DirmonEntry.aasm.states.map { |s| s.name.to_s }.each do |state|
    %li{class: state}
      = link_to("#{state}_dirmon_entries".to_sym) do
        %i.fa{class: state_icon(state)}
        = state.to_s.capitalize!
        = "(#{dirmon_counts_by_state(state)})"
/ tiny only nav
%ul#xs-menu.nav.visible-xs
  %li
    = link_to(new_dirmon_entry_path) do
      %i.fa.fa-plus
  %li
    = link_to(dirmon_entries_path) do
      %i.fa.fa-list
  - RocketJob::DirmonEntry.aasm.states.map { |s| s.name.to_s }.each do |state|
    %li{class: state}
      = link_to("#{state}_dirmon_entries".to_sym) do
        %i.fa{class: state_icon(state)}
