%div
  %label Name:
  = @dirmon_entry.name
%div
  %label Pattern:
  = @dirmon_entry.pattern
%div
  %label Job Class Name:
  = @dirmon_entry.job_class_name
%div
  %label Archive Directory:
  = @dirmon_entry.archive_directory
- @dirmon_entry.properties.each_pair do |name, value|
  .parameters
    %label= "#{name.to_s.titleize}:"
    - if value.is_a?(Array) || value.is_a?(Hash)
      %pre
        %code= pretty_print_array_or_hash(value)
    - else
      = value
.id
  %label ID:
  = @dirmon_entry.id
