<div class='row'>
  <div class='col-md-12'>
    <div><label>Job Class:</label><%= @dirmon_entry.job_class_name %></div>
    <div><label>Pattern:</label><%= @dirmon_entry.pattern %></div>
    <div><label>Archive Directory:</label><%= @dirmon_entry.archive_directory %></div>
    <div class='id'><label>ID:</label><%= @dirmon_entry.id %></div>
  </div>
</div>

<div class='lead'>Properties</div>
<div class='row'>
  <div class='col-md-12'>
    <% @dirmon_entry.properties.keys.sort.each do |name| %>
      <% next if (name == "input_categories") || (name == "output_categories") %>
      <% value = @dirmon_entry.properties[name] %>
      <div class='parameters'>
        <label><%= name.to_s.titleize %>:</label>

        <% if value.is_a?(Array) || value.is_a?(Hash) %>
          <pre><code><%= pretty_print_array_or_hash(value) %></code></pre>
        <% else %>
          <%= value %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% if @dirmon_entry.job_class.respond_to?(:defined_input_categories) || @dirmon_entry.job_class.respond_to?(:defined_output_categories) %>
  <% @job = @dirmon_entry.job_class.from_properties(@dirmon_entry.properties) %>
  <% if @job.respond_to?(:input_categories) %>
    <%= render partial: 'input_categories', locals: {job: @job} %>
  <% end %>
  <% if @job.respond_to?(:output_categories) %>
    <%= render partial: 'output_categories', locals: {job: @job} %>
  <% end %>
<% end %>
