<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Details</h4>
  </div>

  <div class="panel-body">
    <label>Job Class</label>
    <pre><code class="language-ruby">
<%= @dirmon_entry.job_class_name %>
    </code></pre>

    <pre><code class="language-ruby">
id: "<%= @dirmon_entry.id %>"
pattern: "<%= @dirmon_entry.pattern %>",
archive_directory: "<%= @dirmon_entry.archive_directory %>"
    </code></pre>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Properties</h4>
  </div>

  <div class="panel-body">
    <% @dirmon_entry.properties.keys.sort.each do |name| %>
      <% value = @dirmon_entry.properties[name] %>
      <div class="parameters">
        <label><%= name.to_s.titleize %>:</label>

        <% if value.is_a?(Array) || value.is_a?(Hash) %>
          <pre><code class="language-jsonp">
<%= pretty_print_array_or_hash(value) %>
          </code></pre>
        <% else %>
          <%= value %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
