#queue
  .job-list
    .list
      - if @dirmons.empty?
        .title
          .lead.text-center No Dirmon Entries Found.
      - else
        %h2 Dirmon Entries
        - @dirmons.each do |dirmon|
          = link_to dirmon_entry_path(id: dirmon.id, states: @states), class: "card callout callout-#{dirmon.state} #{job_selected_class(dirmon, @dirmon_entry)}" do
            .inner
              .row
                .title.col-md-5
                  .lead
                    %i.fa{class: job_state_icon(dirmon.state), style: 'font-size: 75%;', title: dirmon.state}
                    = dirmon.name

                .description.col-md-5
                  = dirmon.pattern.try(:truncate, 80)

