<div class='row'>
  <div id='job'>
    <div class='lead'><%= image_tag('rocket_job_mission_control/rocket-icon-64x64.png') %><%= @dirmon_entry.name %>

      <div class='btn-toolbar job-actions'>
        <div class='btn-group'>
          <% if @dirmon_entry.may_enable? && can?(:enable, @dirmon_entry) %>
            <%= link_to 'Enable', enable_dirmon_entry_path(@dirmon_entry.id), method: :put, class: 'btn btn-default', data: {confirm: 'Are you sure you want to enable this Dirmon Entry?'} %>
          <% end %>
          <% if @dirmon_entry.may_disable? && can?(:disable, @dirmon_entry) %>
            <%= link_to 'Disable', disable_dirmon_entry_path(@dirmon_entry.id), method: :put, class: 'btn btn-default', data: {confirm: 'Are you sure you want to disable this Dirmon Entry?'} %>
          <% end %>
        </div>

        <div class='btn-group'>
          <% if can?(:destroy, @dirmon_entry) %>
            <%= link_to 'Destroy', dirmon_entry_path(@dirmon_entry), method: :delete, class: 'btn btn-default', data: {confirm: 'Are you sure?'} %>
          <% end %>
        </div>
        <div class='btn-group'>
          <% if can?(:copy, @dirmon_entry) %>
            <%= link_to 'Copy', copy_dirmon_entry_path(@dirmon_entry), class: 'btn btn-default' %>
          <% end %>
        </div>
        <div class='btn-group'>
          <% if can?(:edit, @dirmon_entry) %>
            <%= link_to 'Edit', edit_dirmon_entry_path(@dirmon_entry), class: 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'details', locals: {dirmon_entry: @dirmon_entry} %>
<%= render partial: 'properties', locals: {dirmon_entry: @dirmon_entry} %>
<%= render partial: 'exception', locals: {dirmon_entry: @dirmon_entry} if @dirmon_entry.exception %>
