#queue

  = render partial: 'list', locals: { jobs: @jobs }

.col-md-8.job-status
  #job
    .lead= @dirmon_entry.job_name

    .job-state.inline-block
      .left active
      .right{ class: @dirmon_entry.enabled.to_s }
        = @dirmon_entry.enabled

    .job-retry.btn-group.pull-right{ style: 'margin-right: 1em;' }
      = link_to "Destroy", dirmon_entry_path(@dirmon_entry), method: :delete, class: 'btn btn-default', :data => { :confirm => 'Are you sure?' }
      = link_to "Edit", edit_dirmon_entry_path(@dirmon_entry), method: :get, class: "btn btn-default"
      - if @dirmon_entry.enabled == false
        = link_to "Enable", enable_dirmon_entry_path(@dirmon_entry.id), method: :put, class: "btn btn-default"
      - else
        = link_to "Disable", disable_dirmon_entry_path(@dirmon_entry.id), method: :put, class: "btn btn-default", :data => { :confirm => 'Are you sure?' }
    .job-retry.btn-group.pull-right{ style: 'margin-right: 1em;' }

    .clearfix

    = render partial: 'status', locals: { dirmon_entry: @job }